@model List<OsiguranjeVozila.Models.Domain.ProdajaPolise>


@{
    ViewData["Title"] = "Prodaja - Lista";
    int sledecaStrana = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prethodnaStrana = Convert.ToInt32(ViewBag.PageNumber) - 1;
    
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Lista prodaja</h1>
    </div>
</div>

<form method="get" asp-controller="Prodaja" asp-action="List">
    <div class="container mt-5">
        <div class="row align-items-end">
            
            <div class="col-md-3 d-flex">
                <input type="text" class="form-control" name="searchQuery" value="@ViewBag.SearchQuery" />
                <button type="submit" class="btn btn-warning ms-3">Pretraga</button>
            </div>

            
            <div class="col-md-6 d-flex justify-content-end">
                <div class="me-2">
                    <label for="DatumOd" class="form-label">Datum od:</label>
                    <input type="date" id="DatumOd" name="DatumOd" class="form-control" style="width: 160px;" 
                    value="@ViewBag.DatumOd"/>
                </div>
                <div class="me-2">
                    <label for="DatumDo" class="form-label">Datum do:</label>
                    <input type="date" id="DatumDo" name="DatumDo" class="form-control" style="width: 160px;"
                           value="@ViewBag.DatumDo"/>
                </div>
                <div class="align-self-end">
                    <button type="submit" class="btn btn-primary">Filtriraj</button>
                </div>
                
            </div>
            <div class="text-end">
                <a class="btn btn-outline-success"
                   asp-controller="Prodaja"
                   asp-action="Add">
                    Nova prodaja
                </a>
            </div>
        </div>
    </div>
</form>

<div class="container py-5">
    
    <table class="table">
        <thead>
            <tr>
                
                <th>
                    Klijent
                    <span>
                        <span>
                            <span>
                                <a class="btn btn-light"
                                   asp-controller="Prodaja"
                                   asp-action="List"
                                   asp-route-sortBy="Ime"
                                   asp-route-sortDirection="Asc"
                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-arrow-up"></i>
                                </a>

                            </span>
                            <span>
                                <a class="btn btn-light"
                                   asp-controller="Prodaja"
                                   asp-action="List"
                                   asp-route-sortBy="Ime"
                                   asp-route-sortDirection="Desc"
                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </span>
                        </span>
                    </span>
                    </th>
                <th>Polisa</th>
                <th>Vozilo</th>
                <th>Cijena</th>
                <th>
                    Datum prodaje
                    <span>
                        <span>
                            <span>
                                <a class="btn btn-light"
                                   asp-controller="Prodaja"
                                   asp-action="List"
                                   asp-route-sortBy="DatumKupovine"
                                   asp-route-sortDirection="Asc"
                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-arrow-up"></i>
                                </a>

                            </span>
                            <span>
                                <a class="btn btn-light"
                                   asp-controller="Prodaja"
                                   asp-action="List"
                                   asp-route-sortBy="DatumKupovine"
                                   asp-route-sortDirection="Desc"
                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </span>
                        </span>
                    </span>
                </th>
                <th>
                    Datum isteka
                    <span>
                        <span>
                            <span>
                                <a class="btn btn-light"
                                   asp-controller="Prodaja"
                                   asp-action="List"
                                   asp-route-sortBy="DatumIsteka"
                                   asp-route-sortDirection="Asc"
                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-arrow-up"></i>
                                </a>

                            </span>
                            <span>
                                <a class="btn btn-light"
                                   asp-controller="Prodaja"
                                   asp-action="List"
                                   asp-route-sortBy="DatumIsteka"
                                   asp-route-sortDirection="Desc"
                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </span>
                        </span>
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            
                @foreach (var prodaja in Model)
                {
                <tr>
                    
                    <td>@prodaja.Klijent.Ime @prodaja.Klijent.Prezime</td>
                    <td>@prodaja.Polisa?.Naziv</td>
                    <td>@prodaja.Vozilo.Marka @prodaja.Vozilo.RegistarskaOznaka</td>
                    <td>@prodaja.Cijena</td>
                    <td>@prodaja.DatumKupovine.ToString("dd-MM-yyyy")</td>
                    <td>@prodaja.DatumIsteka.ToString("dd-MM-yyyy")</td>
                    <td>
                        <a class="btn btn-primary" asp-area="" asp-action="Edit" asp-controller="Prodaja" asp-route-id="@prodaja.Id">
                            Izmijeni
                        </a>
                        
                    </td>
                    
                </tr>
                }
            
        </tbody>
    </table>

    

    <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-4">
        <ul class="pagination">

            <li class="page-item">
                <a class="page-link"
                   asp-controller="Prodaja"
                   asp-action="List"
                   asp-route-pageNumber="@prethodnaStrana"
                   asp-route-pageSize="@ViewBag.PageSize"
                   asp-route-sortBy="@ViewBag.SortBy"
                   asp-route-sortDirection="@ViewBag.SortDirection">
                    Prethodna
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                // Determine if this is the active page
                var isActive = i == ViewBag.PageNumber;
                <li class="page-item @(isActive ? "active" : "")">
                    
                    <a class="page-link"
                       aria-current="@(isActive ? "page" : null)"
                       asp-controller="Prodaja"
                       asp-action="List"
                       asp-route-pageNumber="@i"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        @i
                    </a>
                </li>
            }

            <li class="page-item">
                <a class="page-link"
                   asp-controller="Prodaja"
                   asp-action="List"
                   asp-route-pageNumber="@sledecaStrana"
                   asp-route-pageSize="@ViewBag.PageSize"
                   asp-route-sortBy="@ViewBag.SortBy"
                   asp-route-sortDirection="@ViewBag.SortDirection">
                    Sledeća
                </a>
            </li>
        </ul>
    </nav>
</div>
